// TODO: fix menu colours

$bg: #1a1b26;
$bg-dark: #16161e;
$bg-highlight: #292e42;
$border-color: #565f89;
$accent: #2ac3de;
$accent-secondary: #f7768e;
$urgent: #f7768e;
$greyed-out: #565f89;
$fg: #c0caf5;
$fg-dark: #a9b1d6;
